<h1>{{title}}</h1>
<ol>
	{{#each _embedded.fs:entries}}
	<li>
		<article>
			<header>
				<h2><a rel="{{expandCuri @root "fs:entries"}}" href="{{html-uri _links.self.href}}">{{title}}</a></h2>
			{{#if date-created}}{{datetime date-created 'MMMM D, YYYY'}}{{/if}}
			</header>
			<main>
				{{#if excerptHtml}}
				{{{excerptHtml}}}
				{{else}}
				<p>{{replace excerpt '\n' '<br>'}}</p>
				{{/if}}
			</main>
			<footer>
				<a rel="{{expandCuri @root "fs:entries"}}" href="{{html-uri _links.self.href}}">Read more »</a>
			</footer>
		</article>
	</li>
	{{/each}}
	{{#each _links.fs:entries}}
	<li>{{hal-link "fs:entries" this}}{{#if date-created}} - {{datetime date-created 'MMMM D, YYYY'}}{{/if}}</li>
	{{/each}}
</ol>
