<h1>{{title}}</h1>
<ol class="tags">
	{{#each _links.item}}
	<li>
		<h2><a href="{{html-uri href}}">{{title}}</a></h2>
		<ol class="articles">
			{{#each (find _embedded.item href "_links.self.href"}}
			<li><a href="{{html-uri _links.self.href}}">{{title}}</a>{{#if date-created}} - {{datetime date-created 'MMMM D, YYYY'}}{{/if}}</li>
			{{/each}}
		</ol>
	</li>
	{{/each}}
</ol>
