<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
    <div>Links:
    <ul>
    {{#each _links}}
        <li>{{@key}}<ul>
        {{#if (isArray this)}}
            {{#each this}}
                <li>{{hal-link @../key this}}</li>
            {{/each}}
        {{else}}
            <li>{{hal-link @key this}}</li>
        {{/if}}
        </li></ul>
    {{/each}}
    </ul>
    </div>
    </body>
</html>
