{{!-- https://schema.org/CreativeWork --}}
{{> type/Thing}}
{{headline}}
{{version}}
{{> dateCreated}}
{{> dateModified}}
{{> datePublished}}
{{> author}}
{{> creator}}
{{contributor}}
{{ maintainer}}

{{creditText}}
{{editor}}
{{producer}}
{{publication}}
{{translator}}
{{contentRating}}
	{{aggregateRating}}

	{{accessMode}}
	{{accessibilityHazard}}

	{{thumbnailUri}}

	{{correction}}
	{{#if abstract}}<p>{{abstract}}</p>{{/if}}

	{{offers}}

	{{text}}

	{{audio}}
	{{video}}

	{{citation}}
	{{mentions}}

	{{keywords}}

	{{review}}

	{{discussionUrl}}
	{{comment}}


	{{license}}
	{{copyrightNotice}} {{copyrightHolder}} {{copyrightYear}}
	{{sponsor}}
{{/type/Thing
