{{#if title}}<h1>{{title}}</h1>{{/if}}
{{#if body}}<p>{{body}}</p>{{/if}}

<div class="container">
	{{#each this}}
	<div>
		{{#unless (or (or (eq @key 'title') (eq @key 'body')) (and (startsWith @key '_') (not (eq @key '_embedded'))))}}
			<h2>{{@key}}</h2>
			{{#if (eq (typeof this) 'object')}}
				{{> includes/json-object.hbs this}}
			{{else}}
				<div>{{this}}</div>
			{{/if}}
		{{/unless}}
	</div>
	{{/each}}

	<h3>Links:</h3>
	<ul>
		{{#each _links}}
		<li>{{@key}}<ul>
				{{#if (isArray this)}}
				{{#each this}}
				<li>{{hal-link @../key this}}</li>
				{{/each}}
				{{else}}
				<li>{{hal-link @key this}}</li>
				{{/if}}
		</li></ul>
		{{/each}}
	</ul>
</div>
