<article>
	<header>
		<div class="headline">
			<h1>{{coalesce headline name}}</h1>
			<div class="byline">
				{{#if author}}<div>by <span class="author">{{coalese author creator}}</span></div>{{/if}}
				{{#if date-created}}{{datetime (coalese datePublished dateCreated)}}{{/if}}
			</div>
		</div>
		<h2>{{description}}</h2>
	</header>
	{{#> main}}
	<main>
		{{{articleBody}}}
	</main>
	{{/main}}
	<footer>
		<div>
			<h3>Tags</h3>
			<ul>
				{{!-- {{#each _links.tag}} --}}
				{{!-- <li>{{hal-link @key this}}</li> --}}
				{{!-- {{/each}} --}}
				{{#each tag}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
		</div>
	</footer>
</article>
