<article>
	<header>
		<h2><a rel="{{rel}}" href="{{html-uri @id}}">{{coalesce headline name}}</a></h2>
		<div class="byline">
			{{#if author}}<div>by <span class="author">{{coalese author creator}}</span></div>{{/if}}
			{{#if date-created}}{{datetime datePublished}}{{/if}}
		</div>
	</header>
	<main>
		{{#if excerptHtml}}
		{{{excerptHtml}}}
		{{else if excerpt}}
		<p>{{replace excerpt '\n' '<br>'}}</p>
		{{/if}}
	</main>
	<footer>
		<a rel="{{rel}}" href="{{html-uri @id}}">Read more »</a>
	</footer>
</article>
